{% extends 'layout.twig' %}

{% block body %}
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPostModale">Ajouter un Post</button>
    <h2>Trending today</h2>
    <div class="row">
    {% for post in trending %}
        <div class="col-md-4 trending">
            {% include "post.twig" %}
        </div>
    {% endfor %}
    </div>

    <h2>Best posts</h2>
    <div id="container">
        {% for post in posts %}
            {% include "post.twig" %}
        {% endfor %}
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="addPostModale" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" method="POST" action="/posts" id="addPost">
                <div class="modal-header">
                    <h5 class="modal-title">Nouveau Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="addPost_title">Titre</label>
                        <input type="text" class="form-control" id="addPost_title" name="title" placeholder="titre du post" required>
                    </div>
                    <div class="form-group">
                        <label for="addPost_sub">Sub</label>
                        <input type="text" list="subs" class="form-control" id="addPost_sub" name="sub" placeholder="entrer le SubReddit" required>
                        <datalist id="subs">{% for sub in subs %}<option value="{{ sub }}"/>{% endfor %}</datalist>
                    </div>
                    <div class="form-group">
                        <label for="addPost_message">Message</label>
                        <textarea class="form-control" id="addPost_message" name="message" placeholder="contenu du message" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="addPost_media">Média</label>
                        <input type="url" class="form-control" id="addPost_media" name="media.url" placeholder="https://xxxxxx">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="addPost_media_img" name="media.type" class="custom-control-input" checked value="img">
                            <label class="custom-control-label" for="addPost_media_img">Image</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="addPost_media_link" value="link" name="media.type" class="custom-control-input">
                            <label class="custom-control-label" for="addPost_media_link">Lien</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="addPost_media_video" name="media.type" class="custom-control-input" value="link">
                            <label class="custom-control-label" for="addPost_media_video">video</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
