<aside class=" col-12 card mb-3" data-id="{{ post._id }}">
    <div class="row">
        <div class="col-1 bg-light rateColumn">
            <div class="row">
                <button type="button" class="btn btn-light col-12 rateUp" data-rate="1"><i class="fas fa-arrow-alt-circle-up"></i></button>
            </div>
            <div class="row"><span class="col-12 text-center rate">{{ post.rate }}</span></div>
            <div class="row">
                <button type="button" class="btn btn-light col-12 rateDown" data-rate="-1"><i class="fas fa-arrow-alt-circle-down"></i></button>
            </div>
        </div>
        <div class="col-11">
            <div class="row">
                <div class="col-12 card-header">
                    <div class="row">
                        <div class="col-1 header-avatar"><span class=" avatar" style="background-image: url({{ post.author.avatar }})"></span></div>
                        <div class="col-4 header-author">post by {{ post.author.pseudo }} at {{ post.dateTime | date('d/m/Y H:i') }}</div>
                        <div class="col-7 text-right header-title">{{ post.title }}</div>
                    </div>
                </div>
                <div class="col-12 card-content" >
                    <div class="row">
                        <div class="col-12 mb-2 mt-3">
                            {{ post.message }}
                        </div>
                    </div>
                    {% if post.media and post.media.type and post.media.url %}
                        <div class="row">
                            {% if post.media.type == "img" %}
                                <figure class="col-12">
                                    <img src="{{ post.media.url }}"/>
                                    <figcaption><a href="{{ post.media.url }}" target="_blank">{{ post.media.url }}</a></figcaption>
                                </figure>
                            {% elseif post.media.type == "link" %}
                                {%  if post.media.meta %}
                                <a target="_blank" class="link col-12" href="{{ post.media.url }}" style="background-image: url({{ post.media.meta.ogp.image }})" >
                                    <h4>{{ post.media.meta.title }}</h4>
                                </a>
                                {% else %}
                                    <a target="_blank" class="link col-12" href="{{ post.media.url }}" >{{ post.media.url }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 card-footer">
                    <div class="row">
                        <i class="fas fa-comments"></i>&nbsp;&nbsp;&nbsp;{{ post.nbComments }} commentaire{{ post.nbComments > 1 ? 's' : ''}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
