{% extends 'layout.twig' %}

{% block body %}
    <h1>Espace Client</h1>
    {% if user and user._id %}
        <div class="row w-100">
            <div class="col-md-3">
                <div class="card border-info mx-sm-1 p-3">
                    <div class="card border-info shadow text-info p-3 my-card"><i class="fas fa-file-export"></i></div>
                    <div class="text-info text-center mt-3"><h4>Post</h4></div>
                    <div class="text-info text-center mt-2"><h1>{{ nbPost | default(0) }}</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mx-sm-1 p-3">
                    <div class="card border-success shadow text-success p-3 my-card"><i class="fas fa-comments"></i>
                    </div>
                    <div class="text-success text-center mt-3"><h4>Comments</h4></div>
                    <div class="text-success text-center mt-2"><h1>{{ nbComments | default(0) }}</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-danger mx-sm-1 p-3">
                    <div class="card border-danger shadow text-danger p-3 my-card"><i class="fas fa-comments"></i></div>
                    <div class="text-danger text-center mt-3"><h4>Friends</h4></div>
                    <div class="text-danger text-center mt-2"><h1>{{ nbFriends | default(0) }}</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-warning mx-sm-1 p-3">
                    <div class="card border-warning shadow text-warning p-3 my-card"><i class="fas fa-rss"></i></div>
                    <div class="text-warning text-center mt-3"><h4>Subscriptions</h4></div>
                    <div class="text-warning text-center mt-2"><h1>{{ nbSub | default(0) }}</h1></div>
                </div>
            </div>
        </div>
        {% if posts and posts.length %}
            <h2 class="mt-5">Last Posts</h2>
            {% for post in posts %}
                {% include "post.twig" %}
            {% endfor %}
        {% else %}
            <p class="mt-5">Vous n'avez pas créé de post sur It-Reddit</p>
        {% endif %}
    {% else %}
        <div class="container h-100" id="loginForms"
             style="padding-top: calc( 50% - 200px );overflow: initial;width: 350px;">
            <div class="d-flex justify-content-center h-100 ">
                <form class="user_card" id="login" method="put" action="/users">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="images/logo.png" class="brand_logo" alt="Logo" style="width: 200px">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" id="login_user" name="email" class="form-control input_user"
                                       value="" placeholder="joe@email.me" required autocomplete="off">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" id="login_password" name="password"
                                       class="form-control input_pass" value="" placeholder="password" required
                                       autocomplete="off">
                            </div>
                            {#<div class="form-group">#}
                            {#<div class="custom-control custom-checkbox">#}
                            {#<input type="checkbox" class="custom-control-input" id="customControlInline">#}
                            {#<label class="custom-control-label" for="customControlInline">Remember me</label>#}
                            {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button" class="btn login_btn">Login</button>
                    </div>
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Vous n'avez pas de compte ? <a href="#" class="ml-2"
                                                           onclick="document.getElementById('login').classList.add('hidden')">Sign
                                up</a>
                        </div>
                        {#<div class="d-flex justify-content-center links">#}
                        {#<a href="#">Forgot your password?</a>#}
                        {#</div>#}
                    </div>
                </form>
                <form class="user_card" id="signup" method="post" action="/users">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="images/logo.png" class="brand_logo" alt="Logo" style="width: 200px">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" id="login_user" name="pseudo" class="form-control input_user"
                                       value="" placeholder="pseudo" required autocomplete="off">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" id="login_user" name="email" class="form-control input_user"
                                       value="" placeholder="joe@email.me" required autocomplete="off">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" id="login_password" name="password"
                                       class="form-control input_pass" value="" placeholder="password" required
                                       autocomplete="off">
                            </div>
                            {#<div class="form-group">#}
                            {#<div class="custom-control custom-checkbox">#}
                            {#<input type="checkbox" class="custom-control-input" id="customControlInline">#}
                            {#<label class="custom-control-label" for="customControlInline">Remember me</label>#}
                            {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button" class="btn login_btn">Register</button>
                    </div>
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Déja un compte <a href="#" class="ml-2"
                                              onclick="document.getElementById('login').classList.remove('hidden')">Log
                                in</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="alert alert-danger alert-dismissible fade " id="error_connexion"
                 style="width:350px;margin: 20px auto;" role="alert">
                <strong>Erreur d'identification</strong> Vérifiez votre formulaire.
            </div>
        </div>
    {% endif %}
{% endblock %}
