body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  img {
    max-width: 100%;
  }
  main {
    padding-top: 20px;
    position: relative;
    & > aside {
      &:first-child {
        margin-top: 3.6rem;
        &:before {
          content: 'Search results';
          position: absolute;
          top: -3.4rem;
          font-size: 2rem;
          margin-bottom: .5rem;
          font-weight: 500;
          line-height: 1.2;
        }
      }
    }
    .user_card {
      height: 400px;
      width: 350px;
      margin-top: auto;
      margin-bottom: auto;
      background: #f39c12;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;

    }
    .brand_logo_container {
      position: absolute;
      height: 170px;
      width: 170px;
      top: -75px;
      border-radius: 50%;
      background: white;
      padding: 10px;
      text-align: center;
    }
    .brand_logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 2px solid white;
    }
    .form_container {
      margin-top: 100px;
    }
    .login_btn {
      width: 100%;
      background: #c0392b !important;
      color: white !important;
    }
    .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }
    .login_container {
      padding: 0 2rem;
    }
    .input-group-text {
      background: #c0392b !important;
      color: white !important;
      border: 0 !important;
      border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #c0392b !important;
    }

    button[data-target="#addPostModale"] {
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }
  .card-content {
    border-left:1px solid rgba(0,0,0,.125);

    .link.col-12 {
      min-height: 200px;
      background: transparent no-repeat center;
      background-image: none;
      background-size: auto;
      background-size: cover;
      align-items: center;
      text-align: center;
      display: flex;
    }
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent center no-repeat;
    background-size: cover;
    display: inline-block;
  }
  .card-header > .row {
    align-items: center;
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  #signup {
    display: none;
  }
  #login.hidden {
    display: none;
    & + #signup {
      display: block;
    }
  }
  .trending {
    .rateColumn > *,
    .card-header,
    figcaption,
    .card-footer {
      display: none;
    }
    .card {
      padding-right: 15px;
      padding-left: 15px;
      height: 100%;
      .card-content {
        border-left: none;
      }
      .col-11 {
        flex: 0 0 100%;

        max-width: 100%;
      }
    }
  }
  .my-card
  {
    position:absolute;
    left:calc(50% - 2.089em);
    top:-2.5em;
    border-radius:50%;
    i{
      font-size: 2em;
    }
  }
  h1 + .row.w-100 {
    margin-top: 100px;
  }
}

a {
  color: #00B7FF
}
