body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body img {
    max-width: 100%; }
  body main {
    padding-top: 20px;
    position: relative; }
    body main > aside:first-child {
      margin-top: 3.6rem; }
      body main > aside:first-child:before {
        content: 'Search results';
        position: absolute;
        top: -3.4rem;
        font-size: 2rem;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2; }
    body main .user_card {
      height: 400px;
      width: 350px;
      margin-top: auto;
      margin-bottom: auto;
      background: #f39c12;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px; }
    body main .brand_logo_container {
      position: absolute;
      height: 170px;
      width: 170px;
      top: -75px;
      border-radius: 50%;
      background: white;
      padding: 10px;
      text-align: center; }
    body main .brand_logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 2px solid white; }
    body main .form_container {
      margin-top: 100px; }
    body main .login_btn {
      width: 100%;
      background: #c0392b !important;
      color: white !important; }
    body main .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important; }
    body main .login_container {
      padding: 0 2rem; }
    body main .input-group-text {
      background: #c0392b !important;
      color: white !important;
      border: 0 !important;
      border-radius: 0.25rem 0 0 0.25rem !important; }
    body main .input_user,
    body main .input_pass:focus {
      box-shadow: none !important;
      outline: 0px !important; }
    body main .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #c0392b !important; }
    body main button[data-target="#addPostModale"] {
      position: absolute;
      right: 20px;
      top: 10px; }
  body .card-content {
    border-left: 1px solid rgba(0, 0, 0, 0.125); }
    body .card-content .link.col-12 {
      min-height: 200px;
      background: transparent no-repeat center;
      background-image: none;
      background-size: auto;
      background-size: cover;
      align-items: center;
      text-align: center;
      display: flex; }
  body .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent center no-repeat;
    background-size: cover;
    display: inline-block; }
  body .card-header > .row {
    align-items: center; }
  body .navbar {
    position: sticky;
    top: 0;
    z-index: 2; }
  body #signup {
    display: none; }
  body #login.hidden {
    display: none; }
    body #login.hidden + #signup {
      display: block; }
  body .trending .rateColumn > *,
  body .trending .card-header,
  body .trending figcaption,
  body .trending .card-footer {
    display: none; }
  body .trending .card {
    padding-right: 15px;
    padding-left: 15px;
    height: 100%; }
    body .trending .card .card-content {
      border-left: none; }
    body .trending .card .col-11 {
      flex: 0 0 100%;
      max-width: 100%; }
  body .my-card {
    position: absolute;
    left: calc(50% - 2.089em);
    top: -2.5em;
    border-radius: 50%; }
    body .my-card i {
      font-size: 2em; }
  body h1 + .row.w-100 {
    margin-top: 100px; }

a {
  color: #00B7FF; }

/*# sourceMappingURL=style.css.map */